@import url(../node_modules/font-awesome/css/font-awesome.css);
@import url(../node_modules/roboto-fontface/css/roboto/roboto-fontface.css);

#root {
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a.fa {
  color: #E0E0E0;
  font-size: 20px;
  margin-bottom: 17px;
  margin-top: 17px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
}
