.construction {
  background-color: white;
  text-align: justify;
}

.construction-text {
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
  line-height: 45px;
  text-align: center;
  width: 100%;
}
